name: Contribute zazlib to Common Lib
on:
  push:
    paths:
      - 'zazlib/**'
    branches: [ main ]

jobs:
  contribute:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Project
        uses: actions/checkout@v4
        with:
          path: project-repo
          token: ${{ secrets.MY_PAT }}

      - name: Checkout Common Lib
        uses: actions/checkout@v4
        with:
          repository: zaz4416/ZazLib
          token: ${{ secrets.MY_PAT }}
          path: common-lib

      - name: Sync Back to Common
        run: |
          rsync -avvc --delete \
            --exclude ".git/" \
            --exclude ".github/" \
            project-repo/zazlib/ common-lib/

      - name: Create Pull Request on Common Lib
        id: cpr_common
        uses: peter-evans/create-pull-request@v5
        with:
          path: common-lib
          token: ${{ secrets.MY_PAT }}
          branch: update-from-${{ github.event.repository.name }}
          title: "🚀 Update from ${{ github.event.repository.name }}"
          body: "プロジェクト側での修正を提案します。"

      # 共通リポジトリ(ZazLib)の notify.yml を叩く
      - name: Repository Dispatch to Common
        uses: peter-evans/repository-dispatch@v2
        with:
          token: ${{ secrets.MY_PAT }}
          repository: zaz4416/ZazLib
          event-type: project_contribution
          client-payload: '{"target_repo": "${{ github.repository }}"}'
